<div class="plan-odd">
  <div class="title">プランテキスト</div>
  <div class="Frame4">
    <div class="Frame3">
      <p class="price">¥5,000</p>
    </div>
    <div class="text">月額</div>
  </div>
  <div class="list-item">入会金0円</div>
  <div class="list-item">平日:9時〜17時</div>
  <div class="list-item">土日祝:利用ナシ</div>
  <div class="list-item">コアタイムでの利用に最適なプラン</div>
</div>

<div class="plan-even">
  <div class="title">プランテキスト</div>
  <div class="Frame4">
    <div class="Frame3">
      <p class="price">¥5,000</p>
    </div>
    <div class="text">月額</div>
  </div>
  <div class="list-item">入会金0円</div>
  <div class="list-item">平日:9時〜17時</div>
  <div class="list-item">土日祝:利用ナシ</div>
  <div class="list-item">コアタイムでの利用に最適なプラン</div>
</div>
