@use "../../variables" as *;
.plan-odd {
  text-align: center;
  @media screen and (min-width: $breakpoint-md) {
    margin-bottom: 24px;
  }
  .title {
    padding: 20px;
    background-color: $orange_zorba;
    color: $white;
    font-size: $fontsize-l;
  }
  .Frame4 {
    background-color: $gray_desertStorm;
    border: 1px solid #dddddd;
    .Frame3 {
      color: $orange_bistre;
      margin: 0px auto;
      font-weight: 700;
      .price {
        padding-top: 24px;
        font-size: $fontsize-xxl;
        color: $orange_bistre;
        font-weight: 700;
        font-size: $fontsize-xxl;
        &::first-letter {
          font-size: $fontsize-l;
          padding-right: 4px;
        }
      }
    }
    .text {
      margin-bottom: 24px;
      font-size: $fontsize-s;
      font-weight: 400;
    }
  }
  .list-item {
    padding: 20px;
    font-size: $fontsize-s;
    font-weight: 400;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
  }
}

.plan-even {
  text-align: center;
  border: 5px solid $orange_bistre;
  .title {
    padding: 15.5px 0px 20px;
    background-color: $orange_bistre;
    color: $white;
    font-size: $fontsize-l;
  }
  .Frame4 {
    background-color: $gray_desertStorm;
    border-bottom: 1px solid #dddddd;
    .Frame3 {
      color: $orange_bistre;
      margin: 0px auto;
      font-weight: 700;
      .price {
        padding-top: 24px;
        font-size: $fontsize-xxl;
        color: $orange_bistre;
        font-weight: 700;
        font-size: $fontsize-xxl;
        &::first-letter {
          font-size: $fontsize-l;
          padding-right: 4px;
        }
      }
    }
    .text {
      margin-bottom: 24px;
      font-size: $fontsize-s;
      font-weight: 400;
    }
  }
  .list-item {
    padding: 20px;
    font-size: $fontsize-s;
    font-weight: 400;
    border-bottom: 1px solid #dddddd;
  }
}
